
/*! Heavily refactored Pushy - v0.9.3 - 2014-10-02
* Pushy is a responsive off-canvas navigation menu using CSS transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee - Marie Alhomme */
/* Menu Appearance */
/* line 14, ../sass/utils/_offcanvas.scss */
#site-overlay {
  display: none; }

/* line 17, ../sass/utils/_offcanvas.scss */
#mainNav, #container {
  position: relative;
  z-index: 0;
  width: 100%;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease; }

/* line 22, ../sass/utils/_offcanvas.scss */
html.pushy-active {
  width: 100%;
  height: 100%; }

/* line 25, ../sass/utils/_offcanvas.scss */
body.pushy-right, body.pushy-left {
  width: 100%;
  height: 100%; }
  /* line 27, ../sass/utils/_offcanvas.scss */
  body.pushy-right #wrapper, body.pushy-right #container, body.pushy-left #wrapper, body.pushy-left #container {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  /* line 31, ../sass/utils/_offcanvas.scss */
  body.pushy-right #mainNav, body.pushy-left #mainNav {
    z-index: 2;
    height: 100%;
    overflow: scroll;
    background: #CFCFCF;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */ }
  /* line 39, ../sass/utils/_offcanvas.scss */
  body.pushy-right.pushy-active, body.pushy-left.pushy-active {
    overflow: hidden; }
    /* line 41, ../sass/utils/_offcanvas.scss */
    body.pushy-right.pushy-active #mainNav, body.pushy-left.pushy-active #mainNav {
      width: 75%;
      max-width: 300px; }
    /* line 48, ../sass/utils/_offcanvas.scss */
    body.pushy-right.pushy-active #site-overlay, body.pushy-left.pushy-active #site-overlay {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-animation: fade 500ms;
      -moz-animation: fade 500ms;
      -ms-animation: fade 500ms;
      -o-animation: fade 500ms;
      animation: fade 500ms; }

/* line 62, ../sass/utils/_offcanvas.scss */
body.pushy-right #mainNav, body.pushy-right #container {
  float: right; }
/* line 65, ../sass/utils/_offcanvas.scss */
body.pushy-right #mainNav {
  margin-right: -100%; }
/* line 68, ../sass/utils/_offcanvas.scss */
body.pushy-right #container {
  margin-right: 0; }
/* line 72, ../sass/utils/_offcanvas.scss */
body.pushy-right.pushy-active #mainNav {
  margin-right: 0; }
/* line 75, ../sass/utils/_offcanvas.scss */
body.pushy-right.pushy-active #container {
  margin-left: -100%; }

/* line 81, ../sass/utils/_offcanvas.scss */
body.pushy-left #mainNav, body.pushy-left #container {
  float: left; }
/* line 84, ../sass/utils/_offcanvas.scss */
body.pushy-left #mainNav {
  margin-left: -100%; }
/* line 87, ../sass/utils/_offcanvas.scss */
body.pushy-left #container {
  margin-left: 0; }
/* line 91, ../sass/utils/_offcanvas.scss */
body.pushy-left.pushy-active #mainNav {
  margin-left: 0; }
/* line 94, ../sass/utils/_offcanvas.scss */
body.pushy-left.pushy-active #container {
  margin-right: -100%; }

/* Site Overlay Animation */
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }